<div>
    <ul>
        <li >
          <a [routerLink]="['/one']" routerLinkActive="router-link-active" >One</a>
        </li>
        <li>
            <a [routerLink]="['/two']" routerLinkActive="router-link-active" >Two</a>
        </li>
        <li >
            <a [routerLink]="['/three']" routerLinkActive="router-link-active" >Three</a>
        </li>
    </ul>
</div>
<!-- <h1 [@routerTransition]="prepareRoute(outlet)">IIIIIIIIIIIIIIII</h1>
<div  [@routerTransition]="prepareRoute(outlet)"> -->

    <router-outlet #outlet="outlet"></router-outlet>
    <app-preloader [state]="state" (finishAnimation)="fff()"></app-preloader>
<!-- </div> -->